<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form action="{% url 'postupdateproduct' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>UPDATE DATA PRODUCT</h1>
        <p>Id Produk :</p>
        <input type="text" name="idproduk" maxlength="4" value="{{ data_product.idproduk }}" readonly>
        <p>Gambar :</p>
        <input type="file" name="gambar" id="gambar" value="{{ data_product.gambar}}">
        <p>Nama Produk :</p>
        <input type="text" name="namaproduct" id="namaproduct" maxlength="255" value="{{ data_product.namaproduct}}" required>
        <p>Harga Produk :</p>
        <input type="number" name="hargaproduct" id="hargaproduct" value="{{ data_product.hargaproduct }}" required>
        <p>Deskripsi :</p>
        <input type="text" name="deskripsi" id="deskripsi" maxlength="255" value="{{ data_product.deskripsi }}" required>
        <p>Stok :</p>
        <input type="text" name="stok" id="stok" maxlength="6" value="{{ data_product.stok}}" required>
        <br>
        <br>
        <button type="submit">SUBMIT</button>
        <button >
            <a href="{% url 'dataproduct' %}">KEMBALI</a>
        </button>
    </form>
</body>
</html>