{% extends 'layout/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
        </div>
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}</p>
        {% endfor %}
        {% endif %}
        <a class="btn btn-primary mb-2" href="{% url 'tambahpemesanan'%}">Tambah Pesanan</a>
        <h1>Transaksi</h1>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id Pemesanan</th>
                    <th>Tanggal Pemesanan</th>
                    <th>Nama Makanan</th>
                    <th>Jumlah Pemesanan</th>
                    <th>Harga Product</th>
                    <th>Total Bayar</th>
                    <th>Keterangan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for datapemesanan in view_pesanan %}
                <tr>
                    <td>{{ datapemesanan.idpemesanan }}</td>
                    <td>{{ datapemesanan.tglpemesanan }}</td>
                    <td>{{ datapemesanan.idproduk.namaproduct }}</td>
                    <td>{{ datapemesanan.jumlahpemesanan }}</td>
                    <td>{{ datapemesanan.idproduk.hargaproduct }}</td>
                    <td>{{ datapemesanan.totalbayar }}</td>
                    <td>{{ datapemesanan.keterangan }}</td>
                    <td>
                        <a href="{% url 'updatepesanan' datapemesanan.idpemesanan %}">UBAH</a>
                        <a href="{% url 'deletepesanan' datapemesanan.idpemesanan %}">HAPUS</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}