{% extends 'layout/base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form action="{% url 'postupdatepesanan' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="idproduk" value="{{ data_pesanan.idproduk.idproduk }}" >
            <h1>UPDATE PESANAN</h1>
            <div class="form-group">
                <p>Id Pemesanan :</p>
                <input class="form-control" type="text" name="idpemesanan" maxlength="4"
                    value="{{ data_pesanan.idpemesanan }}" readonly>
            </div>
            <div class="form-group">
                <p>Jumlah Pemesanan :</p>
                <input class="form-control" type="number" name="jumlahpemesanan"
                    value="{{ data_pesanan.jumlahpemesanan}}" required>
            </div>
            <div class="form-group">
                <p>Keterangan :</p>
                <input class="form-control" type="text" name="keterangan" maxlength="255"
                    value="{{ data_pesanan.keterangan }}" required>
            </div>
            <br>
            <br>
            <button class="btn btn-success" type="submit">UBAH</button>
            <a class="btn btn-warning" href="{% url 'pemesanan' %}">BATAL</a>
        </form>
    </div>
</div>
{% endblock %}